<script>
  window.addEventListener('resize', (event) => {
    window.defaultMinimalHeight = window.innerHeight;
    document.querySelector('.game-fallback-container').style.height = window.innerHeight + 'px';
  });
  window.addEventListener('load', (event) => {
    document.querySelector('.game-fallback-container').style.height = window.innerHeight + 'px';
    window.defaultMinimalHeight = window.innerHeight;

    document.addEventListener("touchmove", ScrollStart, false);
    document.addEventListener("scroll", Scroll, false);

    function ScrollStart() {
      if (window.currentHeight !== window.innerHeight) {
        window.currentHeight = window.innerHeight;
        document.querySelector('.game-fallback-container').style.height = (window.innerHeight < window.defaultMinimalHeight) ? window.defaultMinimalHeight + 'px' : window.innerHeight + 'px';
      }
    }

    function Scroll() {
      if (window.currentHeight !== window.innerHeight) {
        window.currentHeight = window.innerHeight;
        document.querySelector('.game-fallback-container').style.height = (window.innerHeight < window.defaultMinimalHeight) ? window.defaultMinimalHeight + 'px' : window.innerHeight + 'px';
      }
    }

    document.querySelector('.game-fallback-container').style.height = window.innerHeight + 'px';
  })
  </script>    
