<!doctype html>
<html>
<head>
<meta name=viewport content="width=device-width">
<style>
body, html {
     margin: 0;
     padding: 0;
     height: 100%;
     overflow: hidden;
   }
.iframe {
     position:absolute;
     left: 0;
     right: 0;
     bottom: 0;
     top: 0
   }
body {
    display: block;
    width: 100vh;
    height: 100vw;
    border: none;
    transform: translateY(100vh) rotate(-90deg);
    transform-origin: top left;
}
.dynamic-content {
    display:none;
}	
</style>
</head>
<body>
 {{ content }}
 </body>
</html>
